<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Employees</title>
</head>
<body>
    <div class="container">
        <h3>List Employees</h3>
        <hr />
        <table class="table table-bordered table-striped" id="employeesTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.name}"/>
                    <td th:text="${employee.email}"/>
                    <td th:text="${employee.department}"/>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>